// src/routes/ResumePage.module.scss
.resume {
  margin: 0 auto;
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      background-color: #888;
      margin: 16px auto 0;
      border-radius: 2px;
    }
  }

  .aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    gap: 40px;
    margin-bottom: 30px;
    .information {
      display: flex;
      justify-content: center;
      align-items: center;
      .idPhoto {
        width: 180px;
        height: 220px;
        border-radius: 12px;
        object-fit: cover;
        border: 4px solid #ddd;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #333;
      .contact,
      .link {
        margin-bottom: 20px;
        h3 {
          font-size: 18px;
          color: #444;
          margin: 0 0 8px 0;
          font-weight: bold;
        }
        p {
          font-size: 14px;
          color: #555;
          margin: 0;
          word-break: break-all;
        }
      }
      .link p {
        &:hover {
          text-decoration: underline;
          color: #0073e6;
          cursor: pointer;
        }
      }
    }
  }

  .introduce {
    padding: 30px;
    margin-bottom: 30px;
    color: #333;
    h1 {
      text-align: center;
      font-size: 24px;
      color: #555;
      margin-bottom: 20px;
      font-weight: bold;
    }
    h3 {
      font-size: 18px;
      color: #444;
      margin-bottom: 15px;
      font-weight: normal;
      text-align: center;
    }
    p {
      line-height: 1.6;
      font-size: 14px;
      color: #555;
      margin-bottom: 10px;
      margin-left: 100px;
      text-align: left;
    }
    p:first-of-type::first-letter {
      font-size: 1.2em;
      font-weight: bold;
      color: #888;
    }
  }

  .skills {
    padding: 20px;
    margin-bottom: 30px;
    color: #333;
    h1 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
      color: #555;
      font-weight: bold;
    }
    .skillCategory {
      padding: 5px 15px;
      h2 {
        font-size: 18px;
        color: #444;
        margin-bottom: 10px;
        border-bottom: 2px solid #ddd;
        padding-bottom: 5px;
      }
      ul {
        padding-left: 20px;
        li {
          font-size: 14px;
          color: #555;
          margin-bottom: 8px;
          line-height: 1.5;
          strong {
            font-weight: bold;
            color: #333;
          }
          ul {
            margin-top: 5px;
            padding-left: 15px;
            li {
              list-style-type: disc;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  .projects {
    padding: 20px;
    margin-bottom: 30px;
    color: #333;

    h1 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
      color: #555;
      font-weight: bold;
    }

    .projectCard {
      padding: 20px;
      margin-bottom: 20px;

      .projectContent {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        margin-bottom: 15px;

        .projectInfo {
          display: flex;
          flex-direction: column; /* 세로 방향 정렬 */
          align-items: center; /* 가운데 정렬 */
          text-align: center; /* 텍스트 가운데 정렬 */
          gap: 10px; /* 이미지와 링크 사이 간격 */
        }
        .projectImage {
          max-width: 400px;
          max-height: 400px;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          object-fit: cover;
          object-position: top; /* 이미지의 상단을 보여줍니다 */
          flex-shrink: 0; /* 이미지 크기 유지 */
          margin-top: 15px;
        }

        a {
          color: #444; /* 링크 색상 */
          text-decoration: none;
          font-size: 14px;
          margin-top: 10px; /* 이미지와 링크 간격 조정 */
          word-wrap: break-word; /* 긴 URL도 줄 바꿈이 되도록 설정 */
        }

        .projectText {
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
            font-weight: bold;
          }

          p {
            font-size: 14px;
            color: #555;
            margin-bottom: 10px;
          }

          .projectDetails {
            margin-top: 10px;

            p {
              font-size: 14px;
              color: #555;
              margin-bottom: 5px;

              strong {
                font-weight: bold;
                color: #333;
              }
            }
          }

          .projectTasks {
            margin-top: 15px;
            padding-left: 20px;

            li {
              font-size: 14px;
              color: #555;
              margin-bottom: 8px;
              list-style-type: disc;
            }
          }
        }
      }

      .projectLinks {
        width: 100%;
        text-align: center;

        a {
          display: inline-block;
          width: 100%;
          max-width: 400px;
          text-align: center;
          background: #f9f9f9;
          padding: 10px 15px;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          font-size: 14px;
          color: #444;
          text-decoration: none;
          margin: 10px 20px; /* 좌우 20px 공간 추가 */

          &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
  .timeline {
    position: relative;
    padding: 20px 40px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      color: #555;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 20px;
      width: 4px;
      height: 100%;
      background: #ddd;
    }
    .timelineItem {
      position: relative;
      padding-left: 40px;
      margin-bottom: 20px;
      &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #888;
        border: 3px solid #fff;
        box-shadow: 0 0 0 2px #ddd;
      }
      .timelineDate {
        font-size: 16px;
        color: #666;
        margin-bottom: 5px;
      }
      .timelineContent {
        font-size: 14px;
        color: #333;
        background: #f9f9f9;
        padding: 10px 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
